<!-- retrieve_kyc_documents.html -->
{% extends 'home_page/base.html' %}

{% block head_title %}Banking System{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KYC Documents</title>
</head>
<body>
    <h1>KYC Documents for User: {{ user.username }}</h1>
    {% if kyc_documents %}
        <ul>
            {% for kyc_document in kyc_documents %}
                <li><a href="{{ kyc_document.document.url }}" target="_blank">{{ kyc_document.document.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No documents found for this user.</p>
    {% endif %}
</body>
</html>
{% endblock %}